.eventDivOverlay {
    position: absolute;
    width: 306px;
    height: 260px;
    right: 0;
    top: 6rem;
    z-index: 10000;
}

.eventDivOverlay li {
    list-style: none;
    cursor: pointer;
    height: 40px;
    width: 270px;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: white;
    align-items: center;
    display: flex;

    box-sizing: border-box;
    border: 1px solid #000000;
}

.eventDivOverlay li img{
    margin-right: 10px;
    width: 8%;
}

.menuElement {
    padding: 1rem;
}

.eventDivOverlay li.item0 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
}

.eventDivOverlay li.item1 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
}

.eventDivOverlay li.item2 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
}

.eventDivOverlay li.item3 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
}

.eventDivOverlay li:nth-child(1):hover {
    background: #DC251A;
    color: var(--background-color);
}

.eventDivOverlay li:nth-child(2):hover {
    background: #DC251A;
    color: var(--background-color);
}

.eventDivOverlay li:nth-child(3):hover {
    background: #DC251A;
    color: var(--background-color);
}

.eventDivOverlay li:nth-child(4):hover {
    background: #DC251A;
    color: var(--background-color);
}