.eventDivOverlay {
    position: absolute;
    width: 306px;
    height: 260px;
    right: 2rem;
    top: 15rem;
    z-index: 10000;
}

.eventDivOverlay li {
    list-style: none;
    cursor: pointer;
    height: 40px;
    color: #323232;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    background: white;
    align-items: center;
    display: flex;

    box-sizing: border-box;
    border: 1px solid #000000;
}

.eventDivOverlay li.item0 {
    background: #323232;
    color: #EEEEEE;
}

.eventDivOverlay li.item1 {
    background: #00770C;
    color: #EEEEEE;
}

.eventDivOverlay li.item2 {
    background: #009ABC;
    color: #EEEEEE;
}

.eventDivOverlay li.item3 {
    background: #203EA9;
    color: #EEEEEE;
}

.eventDivOverlay li.item4 {
    background: #A92820;
    color: #EEEEEE;
}

.eventDivOverlay li:nth-child(1):hover {
    background: #323232;
    color: #EEEEEE;
}

.eventDivOverlay li:nth-child(2):hover {
    background: #00770C;
    color: #EEEEEE;
}

.eventDivOverlay li:nth-child(3):hover {
    background: #009ABC;
    color: #EEEEEE;
}

.eventDivOverlay li:nth-child(4):hover {
    background: #203EA9;
    color: #EEEEEE;
}

.eventDivOverlay li:nth-child(5):hover {
    background: #A92820;
    color: #EEEEEE;
}

.image1 {
    content: url("/marker/earthquake_marker.svg");
}


/*
.eventDivOverlay li.item0 {
    border: 2px solid #323232;
}

.eventDivOverlay li.item1 {
    border: 2px solid #00770C;
}

.eventDivOverlay li.item2 {
    border: 2px solid #009ABC;
}

.eventDivOverlay li.item3 {
    border: 2px solid #203EA9;
}

.eventDivOverlay li.item4 {
    border: 2px solid #A92820;
}
*/