.eventDivOverlay {
    position: absolute;
    width: clamp(12.5rem, 10.7949rem + 6.9417vw, 19.125rem);
    height: clamp(1.875rem, 1.7141rem + 0.6549vw, 2.5rem);
    right: 10px;
    top: 6rem;
    z-index: 10000;
}

.eventDivOverlay li {
    list-style: none;
    cursor: pointer;
    width: clamp(12.5rem, 10.7949rem + 6.9417vw, 19.125rem);
    height: clamp(1.875rem, 1.7141rem + 0.6549vw, 2.5rem);
    color: var(--primary-text-color);
    font-size: clamp(1rem, 0.9357rem + 0.2620vw, 1.25rem);
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: var(--background-color);
    align-items: center;
    display: flex;

    box-sizing: border-box;
    border: 1px solid var(--primary-text-color);

    transition: background-color 0.15s ease;
}

.eventDivOverlay li img {
    margin-right: 10px;
    width: 8%;
}

.eventDivOverlay li.item0 {
    background: var(--primary-text-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item1 {
    background: #00770C;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item2 {
    background: #009ABC;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item3 {
    background: #203EA9;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item4 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(1):hover {
    background: var(--primary-text-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(2):hover {
    background: #00770C;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(3):hover {
    background: #009ABC;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(4):hover {
    background: #203EA9;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(5):hover {
    background: var(--primary-discompose-color);
    color: var(--background-color);
    border: none;
}

.image1 {
    content: url("/marker/earthquake_marker.svg");
}

#displayCheck {
    display: none;
}

#togg {
    position: absolute;
    right: 10px;
    top: 50px;
    height: 30px;
    width: 30px;
    opacity: 1;
    cursor: pointer;

    appearance: none;
    z-index: 10001;
}

#togg:hover {
    background-image: url("http://localhost:3000/assets/map/hamb_menu_hover.webp");
    background-size: contain;
}

#togg:not(:checked) {
    background-image: url("http://localhost:3000/assets/map/hamb_menu.webp");
    background-size: contain;
}

#togg:checked {
    background-image: url("http://localhost:3000/assets/map/hamb_menu_hover.webp");
    background-size: contain;
}

#togg:checked~ul {
    /* visibility: hidden; */
    opacity: 1;
    z-index: 10000;
    transition: opacity 0.2s ease-in-out;
}

#togg:not(:checked)~ul {
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
}