.eventDivOverlay {
    position: absolute;
    width: 306px;
    height: 260px;
    right: 0;
    top: 6rem;
    z-index: 10000;
}

.eventDivOverlay li {
    list-style: none;
    cursor: pointer;
    height: 40px;
    width: 270px;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: var(--background-color);
    align-items: center;
    display: flex;

    box-sizing: border-box;
    border: 1px solid var(--primary-text-color);

    transition: background-color 0.15s ease;
}

/* .eventDivOverlay img{
    background-color: aqua;
    width: 10%;
} */

.eventDivOverlay li img{
    margin-right: 10px;
    width: 8%;
}

.eventDivOverlay li.item0 {
    background: var(--primary-text-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item1 {
    background: #00770C;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item2 {
    background: #009ABC;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item3 {
    background: #203EA9;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li.item4 {
    background: var(--primary-discompose-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(1):hover {
    background: var(--primary-text-color);
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(2):hover {
    background: #00770C;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(3):hover {
    background: #009ABC;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(4):hover {
    background: #203EA9;
    color: var(--background-color);
    border: none;
}

.eventDivOverlay li:nth-child(5):hover {
    background: var(--primary-discompose-color);
    color: var(--background-color);
    border: none;
}

.image1 {
    content: url("/marker/earthquake_marker.svg");
}