.map {
  height: 100vh;
  width: 100vw;
  background-color: #E1DEDE;
  position: relative;
  z-index: 0;
}

.mapResized {
  height: 100vh;
  width: calc(100vw - 500px);
  background-color: #E1DEDE;
  position: relative;
  z-index: 0;
  flex: 1;
  transition: width 0.3s ease;
}

.backDivOverlay {
  position: absolute;
  top: 6rem;
  left: 2rem;
  cursor: pointer;
  z-index: 10000;
}

/*.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/pattern.png');
    background-size: cover;
    opacity: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
  }*/

.mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/pattern.png");
  /* Percorso dell'immagine filtro */
  opacity: 1;
  /* Opacità dell'immagine filtro */
  pointer-events: none;
  /* Assicura che l'overlay non interferisca con l'interazione della mappa */
  z-index: 1;
}

.zoomControl{
  position: absolute;
  top: 100px;
  left: 100px;
}

.customZoomControl {
  background-color: red;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Aggiungi altre regole CSS per personalizzarlo ulteriormente */
}