.divOverlay {
    position: absolute;
    width: 306px;
    height: 40px;
    box-sizing: border-box;
    background: #323232;
    border: 1px solid #f70505;
    right: 2rem;
    top: 10rem;
    z-index: 10000;
}

.logoDivOverlay {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 10000;
}

.backDivOverlay {
    position: absolute;
    top: 6rem;
    left: 2rem;
    cursor: pointer;
    z-index: 10000;
}

.eventDivOverlay {
    position: absolute;
    width: 306px;
    height: 260px;
    right: 2rem;
    top: 15rem;
    z-index: 10000;

}

.timelineDivOverlay {
    position: absolute;
    width: 1271px;
    height: 62px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.eventDivOverlay li {
    list-style: none;
    cursor: pointer;
    height: 40px;
    color: #323232;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    background: white;
    align-items: center;
    display: flex;

    box-sizing: border-box;
    border: 1px solid #000000;
}

.container {
    display: flex;
    position: relative;
    overflow-x: hidden;
}