.map {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  position: relative;
  z-index: 0;
}

.mapResized {
  height: 100vh;
  width: calc(100vw - 500px);
  background-color: var(--background-color);
  position: relative;
  z-index: 0;
  flex: 1;
  transition: width 0.3s ease;
}

.backDivOverlay {
  background-image: url('/assets/homepage/back_button.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: clamp(1.875rem, 1.7308rem + 0.6410vw, 2.5rem);
  height: clamp(1.875rem, 1.7308rem + 0.6410vw, 2.5rem);
  position: absolute;
  top: 5rem;
  left: 1rem;
  cursor: pointer;
  z-index: 10000;
}

.backDivOverlay:hover {
  background-image: url('/assets/homepage/back_button_hover.webp');
}

.mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/map/pattern.webp");
  /* Percorso dell'immagine filtro */
  opacity: 1;
  /* Opacità dell'immagine filtro */
  pointer-events: none;
  /* Assicura che l'overlay non interferisca con l'interazione della mappa */
  z-index: 1;
}

.zoomControl {
  position: absolute;
  top: 100px;
  left: 100px;
}

.customZoomControl {
  background-color: red;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Aggiungi altre regole CSS per personalizzarlo ulteriormente */
}

@media screen and (max-width: 616px) {
  .backDivOverlay {
    top: 4rem;
  }
}